@font-face{
	font-family: HN;
    src: url(HelveticaNeue.ttf);
}

*{
	font-family: HN;
}

header{
	cursor: default;
}

table{
	padding-left: 10px;
	margin-top: 45px;
	margin-bottom: 70px;
}

#iadd{
	width: 100%;
}

#new-name{
	width: 350px;
}

.sidebar-focus{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.4);
}

.sidebar{
	position: absolute;
	right: 0px;
	height: 100%;
	width: 300px;
	background: #fff;
	padding: 50px;
}

.refresh{
	position: fixed;
	left: 15px;
	bottom: 15px;
}

.edit{
	display: none;
	position: absolute;
	left: 398px;
}

.icons{
	padding-top: 6px;
}

.title{
	text-shadow: .3px .3px .3px #fff;
}

.input{
	padding-right: 32px;
	border: 1px #fff solid;
	border-bottom: 1px #ccc solid;
}

.input:focus{
	border-radius: 5px;
	border: 1px #2196F3 solid;
}

.input:hover, #login_user:hover, #login_host:hover, #login_pass:hover{
	border-bottom: 1px #2196F3 solid;
}

.bg-blue{
	background-color: #205081;
	color: #fff;
}

a:hover:not(.title){
     text-shadow: 1px 1px 2px #2196F3;
 }
i:hover, .i:hover{
    cursor: pointer;
    color:lightblue;
    text-shadow: 1px 1px 2px #2196F3;
}

.i:hover{
    background-color: #205081;
    text-shadow: 1px 1px 2px lightblue;
}

.td-key{
    width: 68px;
}

.td-name{
    width: 310px;
}

.td-status{
    width: 35px;
}
