@font-face{
	font-family: HN;
    src: url(HelveticaNeue.ttf);
}

*{
	font-family: HN;
}

table{
	padding-left: 10px;
	margin-top: 45px;
	margin-bottom: 70px;
}

h6 img{
    -webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

#iadd{
	width: 100%;
}

#new-key{
	width: 100px;
}

#new-name{
	position: absolute;
	top: 8px;
	left: 125px;
	width: 260px;
}

#new-add{
	position: absolute;
	top: 8px;
	left: 400px;
}

.login-page{
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	z-index: 2;
	padding: 15%;
	background: #fff;
	background: linear-gradient(to bottom right, #2C5364, #203A43);
}

.login{
	background: #fff;
	border-radius: 5px;
	padding: 10px;
}

.logout{
	display: none;
}

.sidebar-focus{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.4);
}

.sidebar{
	position: absolute;
	right: 0px;
	height: 100%;
	width: 300px;
	background: #fff;
	padding: 50px;
}

.refresh{
	position: fixed;
	left: 15px;
	bottom: 15px;
}

.edit{
	display: none;
	position: absolute;
	left: 398px;
}

.icons{
	padding-top: 6px;
}

.title{
	text-shadow: .3px .3px .3px #fff;
}

.input{
	border: 1px #fff solid;
	border-bottom: 1px #ccc solid;
}

.input:focus{
	border-radius: 5px;
	border: 1px #2196F3 solid;
}

.input:hover, #login_user:hover, #login_host:hover, #login_pass:hover{
	border-bottom: 1px #2196F3 solid;
}

.bg-blue{
	background-color: #205081;
	color: #fff;
}

a:hover:not(.title), h6:hover{
	cursor: pointer;
    text-shadow: 1px 1px 2px #2196F3;
 }
i:hover, .i:hover{
    cursor: pointer;
    color: lightblue;
    text-shadow: 1px 1px 2px #2196F3;
}

.i:hover{
    background-color: #205081;
    text-shadow: 1px 1px 2px lightblue;
}

.td-key{
    width: 68px;
}

.td-name{
    width: 310px;
}

.td-status{
    width: 35px;
}
