@font-face{
	font-family: HN;
    src: url(HelveticaNeue.ttf);
}

*{
	font-family: HN;
}

table{
	width: 100%;
	padding-left: 10px;
	margin-top: 45px;
	margin-bottom: 70px;
}

h6 img{
    -webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

#lock{
	cursor: wait;
	display: none;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 5;
}

#iadd{
	background: #fff;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
#selectedProject{
	padding-left: 10px;
	margin-top: 10px;	
}

#new-key{
	display: none;
}

.exit-sidebar{
	cursor: pointer;
	position: fixed;
	top: 40px;
	right: 15px;
	color: red;
}

.exit-new-issue{
	cursor: pointer;
	margin-top: 5px;
	color: red;
}

.new-issue-focus{
	z-index: 4;
	display: none;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 15%;
	background: rgba(0,0,0,0.3);
}

.version{
	position: fixed;
	right: 10px;
	bottom: 10px;
}
.login-page .version{
	color: #fff;
}

.selectProjects{
	margin-top: 90px;
}

.add-button:hover{
	cursor: pointer;
}

.refresh img{
	margin-right: 10px;
}

.refresh img:hover{
    -webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	transition: 0.4s all;
}

.show-menu:hover{
    -webkit-transform: rotate(180deg);
	transform: rotate(45deg);
	transition: 0.3s all;
}

.login-page{
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	z-index: 6;
	padding: 15%;
	background: #fff;
	background: linear-gradient(to bottom right, #2C5364, #203A43);
}

.login{
	background: #fff;
	border-radius: 5px;
	padding: 10px;
}

.sidebar-focus{
	z-index: 3;
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.3);
}

.sidebar{
	position: absolute;
	right: 0px;
	height: 100%;
	width: 300px;
	background: #fff;
	padding: 50px;
}

.edit{
	display: none;
	position: absolute;
	left: 398px;
}

.icons{
	padding-top: 6px;
}

.title{
	text-shadow: .3px .3px .3px #fff;
}

.input{
	border: 1px #fff solid;
	border-bottom: 1px #ccc solid;
}

.input:focus{
	border-radius: 5px;
	border: 1px #2196F3 solid;
}

.input:hover, #login_user:hover, #login_host:hover, #login_pass:hover{
	border-bottom: 1px #2196F3 solid;
}

.bg-blue{
	background-color: #205081;
	color: #fff;
}

a:hover:not(.title), h6:hover{
	cursor: pointer;
    text-shadow: 1px 1px 2px #2196F3;
 }
i:hover, .i:hover{
    cursor: pointer;
    color: lightblue;
    text-shadow: 1px 1px 2px #2196F3;
}

.i:hover{
    background-color: #205081;
    text-shadow: 1px 1px 2px lightblue;
}

.td-key{
    width: 68px;
}

.td-name{
    width: 310px;
}

.td-status{
    width: 35px;
}

#errormex {
    display: none;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgb(177, 34, 34);
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 14px;
    position: fixed;
    z-index: 7;
    left: 50%;
    top: 30px;
    font-size: 16px;
}

#successmex {
    display: none;
    min-width: 250px;
    margin-left: -125px;
    background-color: #205081;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 14px;
    position: fixed;
    z-index: 7;
    left: 50%;
    bottom: 30px;
    font-size: 16px;
}
